<div class="rr-controls-panel">
  <div class="rr-sort-panel">
    <LinkTo
      @route="bands.band.controls.songs"
      @query={{hash s="ratingDesc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-rating-desc"
    >
      Rating
      {{fa-icon "angle-down"}}
    </LinkTo>
    <LinkTo
      @route="bands.band.controls.songs"
      @query={{hash s="ratingAsc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-rating-asc"
    >
      Rating
      {{fa-icon "angle-up"}}
    </LinkTo>
    <LinkTo
      @route="bands.band.controls.songs"
      @query={{hash s="titleDesc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-title-desc"
    >
      Title
      {{fa-icon "angle-down"}}
    </LinkTo>
    <LinkTo
      @route="bands.band.controls.songs"
      @query={{hash s="titleAsc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-title-asc"
    >
      Title
      {{fa-icon "angle-up"}}
    </LinkTo>
  </div>
</div>

{{outlet}}