<div class="rr-controls-panel">
  <div class="rr-sort-panel">
    <LinkTo
      @query={{hash s="ratingDesc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-rating-desc"
    >
      Rating
      {{fa-icon "angle-down"}}
    </LinkTo>
    <LinkTo
      @query={{hash s="ratingAsc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-rating-asc"
    >
      Rating
      {{fa-icon "angle-up"}}
    </LinkTo>
    <LinkTo
      @query={{hash s="titleDesc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-title-desc"
    >
      Title
      {{fa-icon "angle-down"}}
    </LinkTo>
    <LinkTo
      @query={{hash s="titleAsc"}}
      class="rr-sort-button"
      data-test-rr="sort-by-title-asc"
    >
      Title
      {{fa-icon "angle-up"}}
    </LinkTo>
  </div>
</div>

<div class="rr-search-panel">
  <Input @type="text" class="rr-input" @value={{this.searchTerm}} data-test-rr="search-box" />
  <div class="rr-search-icon">{{fa-icon "search"}}</div>
</div>

<ul class="rr-list">
  {{#each this.sortedSongs as |song|}}
    <li class="rr-list-item" data-test-rr="song-list-item">
      {{capitalize song.title}} 
      <StarRating class="fr"
        @rating={{song.rating}}
        @onClick={{fn this.updateRating song}}
      />
    </li>
  {{else}}
    <li class="tc">
      No {{capitalize this.model.name}} songs yet.
    </li>
  {{/each}}
</ul>

<div class="rr-new-label">
  {{#if this.isAddingSong}}
    <form class="rr-inline-form" {{on "submit" this.saveSong}} data-test-rr="new-song-form">
      <Input
        @type="text"
        @value={{this.newSongTitle}}
        class="rr-input"
        placeholder={{this.newSongPlaceholder}}
        data-test-rr="new-song-input"
      />
      <button
        type="submit"
        class="rr-action-button"
        data-test-rr="new-song-button"
        disabled={{this.isSongTitleEmpty}}>
        Add
      </button>
      <button
        class="rr-cancel-icon"
        {{on "click" this.cancelAddSong}}>
        {{fa-icon "times"}}
      </button>
    </form>
  {{else}}
    <label {{on "click" this.addSong}} data-test-rr="new-song-label">
      {{fa-icon "plus"}}
      <span class="ml1">Add new song</span>
    </label>
  {{/if}}
</div>
